*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;

}
@font-face {
    font-family: Norse;
    src: url(../Berserker-Regular.otf);
}
/* MAPAS DE ESTILOS */

$estilos: (
color_principal: black,
color_hover:rgba(0, 0, 0, 0.6),
color_fuente:white
);

/* MIXIN*/
@mixin tamaño ($ancho,$alto) {
    width: $ancho;
    height: $alto;
    
}

.color__fondo{
   background-color: map-get($estilos, color_principal );
}

/* FUENTE */
.parrafo{
    font-family: Norse;
    font-size: 2rem;
    color: map-get($estilos, color_fuente );
}
.parrafo__black{
    @extend .parrafo;
    color: map-get($estilos, color_principal );
}
/* CSS DE INDEX.HTML */
.body__index{
    height: 100%;
    background-color: map-get($estilos, color_principal );
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    .header__contenedor{
        background-color: map-get($estilos, color_principal );
        width: 100%;
        clear: both;
        contain: '';
        display: grid;
        grid-column:  1/-1;
        
    }
}

.header__div{
    width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .header__img{
        height: 12rem;
        
    }
    .menu__ul{
        display: flex; 
    }
    .menu__list{
        list-style: none;
        margin: 1.5rem 0;
        margin-left: 2.5rem;
        padding: 2.5rem 0;
        flex-direction: column;
    }
}


.subtitulo{
    text-transform: uppercase;
    font-family: Norse;
    font-size: 2.2rem;
    color: map-get($estilos, color_fuente);
    margin: 1rem;
}
.resumen{
    grid-row: 2/2;
    .resumen__principal{
        display: flex;
        justify-content: center;
    }
    .resumen__imginicio{
        border-radius: 5rem;
        height: auto;
        justify-content: center;
        width: 90vw;
    }
    .resumen__div{
        width: 35rem;
        margin: 5rem;
        .resumen__img{
            border-radius: 1rem;
           height: 150px;
           
        }
    }
}

.iconos{
    background-color:map-get($estilos, color_principal );
    margin: 0px auto;
    text-align: center;
    bottom: auto;
    grid-row: 3;
    
}
/* MEDIA QUERIES MOVIL 320px DE INDEX*/
@media (min-width: 320px) and (max-width: 599px){
    .body__index{
        gap: 0rem;
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
    }
    .header__contenedor{
        width: auto;
        .header__img{
            margin: 0;
            width: 330px;
            margin: 0 1rem;
        }   
        .menu__ul{
            display: block; 
    
        }
    }
   

    
    .resumen{
        @include tamaño(auto,auto);
        .resumen__principal{
            flex-direction: column;
            justify-content: center;
            padding: 0;
            .resumen__div{
                width: 35rem;
                margin: 2rem 0;
                .resumen__img{
                    border-radius: 1rem;
                   height: 180px;
                   .resumen__parrafo{
                    width: 350px;
                }
                }
            }
            }
         .contenedor__imagen{
                overflow: hidden;
                @include tamaño(350px,auto);
                border-radius: 5rem;
                display: flex;
                justify-content: center;
                margin: 0;
                .resumen__imginicio{
                    @include tamaño(900px,auto);
                   margin: 0;
                }
        
         }

    }





    .header__div{
        display: flex;
        width: 30rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .menu__list{
            list-style: none;
            margin: 0;
            margin-left:1rem;
            padding: 0.5rem;
        }
        .header__imagen{
            width: 330px;
        }
    }


}

/* MEDIA QUERIES DE TABLET 768px INDEX*/
@media (min-width: 600px) and (max-width: 1023px){

    .header__div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       width: 0;
    }
    .resumen__imginicio {
        margin: 0 0 0 4rem;
    }
    .resumen__img {
        border-radius: 4rem;
        height: 350px;
    }
    .resumen__principal {
        flex-direction: column;
    }
    
}


/* CSS DE HISTORIA.HTML */
.body__historia{
    background-color: map-get($estilos, color_principal );
    height: 80rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);

   .footer__historia{
    background-color: map-get($estilos, color_principal );
    margin: 0px auto;
    text-align: center;
    bottom: auto;     
}
}
.historia__fondo{
    height: 55rem;
   background-color: map-get($estilos, color_principal );
   grid-row: 2/2;
}
.historia__imagen{
    background-image: url(../Imagenes/Historia.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: 100%;
    border-radius: 5rem;
    margin: 0 6rem;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;

    }
.articulo__ragnarok{
    @include tamaño(50rem,49rem);
    text-align: center;
    margin: 3rem 6rem 5rem 0rem;
    padding: 1rem;
    grid-column: 1/1;
}
.articulo__kratos{
    @include tamaño(50rem,49rem);
    text-align: center;
    margin: 3rem 0rem 5rem 6rem;
    padding: 1rem;
    grid-column: 2/-1;
}




/* MEDIA QUERIES MOVIL 320px DE HISTORIA*/
@media (min-width: 320px) and (max-width: 599px){
    .articulo__ragnarok {
        @include tamaño(370px,auto);
        padding: 1rem;
        margin: 0;
    }
    .articulo__kratos {
        @include tamaño(350px,auto);
        padding: 1rem;
        margin: 0;
    }
    .historia__imagen{
        display: flex;
        flex-direction: column;
        background-size: 870%;
        margin: 0 0 0 1rem;
        }
        
        .historia__fondo{
            height: 100%;
           
       }
}
/* MEDIA QUERIES DE TABLET 768px HISTORIA*/
@media (min-width: 600px) and (max-width: 1023px){

 .header__img {
        margin: 0 3rem 0 2rem;
    }
    .articulo__ragnarok {
        @include tamaño(350px,auto);
        padding: 1rem;
        margin: 0;
    }
    .articulo__kratos {
        @include tamaño(350px,auto);
        padding: 1rem;
        margin: 0;
    }
    .historia__imagen{
        background-size: 230%;
        }
        
        .historia__fondo{
            height: 100%;
           
       }
}

/* CSS DE PERSONAJES.HTML */
.body__personajes{
    background-color: map-get($estilos, color_principal );
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(3,auto);
}
.contenedor__personaje{
    margin: 0 5rem 0 5rem;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    .personaje{
    display: grid;
&:hover {
    transition: 1s;
    transform: scale(1.05);
}
.personaje__imagen{
    height: 700px;
    border-radius: 2rem;
    margin: 1rem 0;
}
.personaje__descripcion{
    position: relative;
    height: 100%;
    transition: all .3s; 
    .personaje__parrafo{
        position:absolute;
        @include tamaño(90%,70rem);
        font-family: Norse;
        font-size: 1.7rem;
        color: map-get($estilos , color_fuente);
        padding: 20rem 1rem;
        bottom: 0rem;
        opacity: 0;
        margin: 0 1rem;
    &:hover{
        transform: 1.05;
        opacity: 1;
        background: map-get($estilos, color_hover );;
        border-radius: 1rem;
        
    }
    } 
} 
}
}



/* MEDIA QUERIES MOVIL 320px DE personajes*/
@media (min-width: 320px) and (max-width: 599px){
.contenedor__personaje {
    padding: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
}
.personaje__imagen{
    margin: 1rem 5rem;
}
.personaje__parrafo{
    margin: 0 5.5rem;
    width: 70%;
}
}
/* MEDIA QUERIES DE TABLET 768px PERSONAJES*/
@media (min-width: 600px) and (max-width: 1023px){
.contenedor__personaje {
    margin: 0 5rem 0 8rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
}
}
/* CSS DE MULTIMEDIA.HTML */
.body__multimedia{
    background-color: map-get($estilos, color_principal );
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4auto);
}
.multimedia__imagen{
    width: 33rem;
    margin-top: 1rem;
    transition: 1s;
    border-radius: 3rem;
&:hover{
    transform: scale(2);
    transition: 1s;
}
}
.contenedor__multimedia{
    display: flex;
    padding: 0.1rem;
    grid-row: 2/-1;
}
.multimedia__columna{
    flex: 25%;
    padding: 1rem;
}
.multimedia__video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 50%;
    width: 140rem;
    grid-row: 3/-1;
}
.video{
    @include tamaño(80rem,40rem);
    padding: 1rem;
}
/* MEDIA QUERIES MOVIL 320px DE MULTIMEDIA*/
@media (min-width: 320px) and (max-width: 599px){
.multimedia__columna {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.multimedia__video {
    flex-direction: column;
    width: auto;
}
.video {
    @include tamaño(auto,auto);
    padding: 1rem;
}
.contenedor__multimedia {
    display: grid;
}
}
/* MEDIA QUERIES DE TABLET 768px MULTIMEDIA*/
@media (min-width: 600px) and (max-width: 1023px){
.multimedia__video{
    width: auto;
}
.video {
    @include tamaño(auto,auto);
}
.contenedor__multimedia {
    display: grid;  
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.multimedia__columna {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
}
/* CSS DE CONTACTO.HTML */
.body__contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    background-color: map-get($estilos, color_principal );
}
.contacto__fondo{
    background-color: map-get($estilos, color_principal);
    grid-row: 2;
}
.contacto__imagen{
    background-image: url(../Imagenes/Multimedia/multimedia-1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 58rem;
    background-size: 135rem;
    border-radius: 5rem;
    margin: 0 6rem;
    display: flex;
    flex-direction: row-reverse;

}
.contacto__form{
    @include tamaño(40rem,52rem);
    margin: 2rem 6rem 2rem 6rem;
    padding: 1rem;
    background-color: map-get($estilos, color_hover);
    border-radius: 3rem;
}
.textArea{
    background-color: map-get($estilos, color_hover);
    @include tamaño(25rem,3rem);
    font-family: norse;
    font-size: 2rem;
    color:rgb(182, 182, 182);
    margin: 0.2rem;
}
.BoxTextArea{
    background-color: map-get($estilos, color_hover);
    @include tamaño(35rem,10rem);
    font-family: norse;
    font-size: 2rem;
    color:rgb(182, 182, 182);
    text-align: left;
    margin: 1rem;

}
.btn{
    background-color: map-get($estilos, color_fuente );
    @include tamaño(9rem,3rem);
    font-family: norse;
    font-size: 2.2rem;
    color: map-get($estilos, color_fuente);
}



/* MEDIA QUERIES MOVIL 320px DE CONTACTO*/
@media (min-width: 320px) and (max-width: 599px){
.contacto__imagen {
    @include tamaño(100vw,auto);
    margin: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contacto__form {
    @include tamaño(auto,auto);
    margin: 0;
}
.textArea {
    @include tamaño(auto,auto);
}
.BoxTextArea {
    @include tamaño(30rem,auto);
}
}